:root {background-color: black;}
h1 {font-family: 'Atomic Age', cursive; 
    font-family: 'Aubrey', cursive; 
    font-family: 'Orbitron', sans-serif; 
    text-align: center;
    text-decoration: underline;
    }
    .karten {margin-left: 14rem;}
